@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Regular.woff);
    font-weight: 400;
}
body {
    font-family: "Satoshi";
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
.header {
    margin-top: 50px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.header__top1 {
    display: none;
}
.header__hr {
    max-width: 100%;
}

.header__main {
    margin: 20px 0 0 0;
    justify-content: center;
    gap: 30px;
    display: flex;
    width: 1200px;
}
.header__main-title {
    text-decoration: none;
    color: #726e8d;
    font-size: 16px;
    font-weight: 400;
}

.hero {
    margin-top: 60px;
}
.hero__top {
    width: 680px;
    background: #2a254b;
}
.hero__head {
    padding: 30px 60px;
}
.hero__info {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.hero__top-title {
    color: var(--White, #fff);
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
}
.hero__btn {
    background: rgba(249, 249, 249, 0.15);
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: var(--White, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border-color: transparent;
    margin-top: 50px;
}
.hero__text {
    color: var(--White, #fff);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* width: 580px; */
    margin-top: 196px;
}

.hero__btns {
    text-align: center;
}

.hero__info1 {
    display: flex;
    justify-content: center;
    display: none;
}

.hero__top1 {
    padding-left: 30px;
    background: #2a254b;
    width: 400px;
}
.hero__top-title1 {
    color: var(--White, #fff);
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
}
.hero__top-text1 {
    color: var(--White, #fff);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 80px;
}
.hero__top-btn1 {
    background: rgba(249, 249, 249, 0.15);
    display: flex;
    width: 342px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-color: transparent;
    color: #ffffff;
    margin: 32px 0;
}

.cards {
    margin-top: 120px;
}
.cards__theme {
    display: flex;
    justify-content: center;
    color: var(--Dark-Primary, #2a254b);
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}
.cards__item {
    list-style: none;
    /* border: 2px solid green; */
    max-width: 270px;
}
.cards__title {
    color: var(--Dark-Primary, #2a254b);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}
.cards__text {
    color: var(--Dark-Primary, #2a254b);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.cards__list {
    margin: 50px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 850px) {
    .header__top {
        display: none;
    }
    .header__top1 {
        display: inline-block;
        display: flex;
        justify-content: center;
        gap: 300px;
    }
    .header__hr {
        display: none;
    }
    .header__main {
        display: none;
    }
    .hero__main {
        display: none;
    }
    .hero__info {
        display: none;
    }
    .hero__info1 {
        display: inline-block;
        display: flex;
        justify-content: center;
    }
    .cards__list {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
